* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.header {
    height: 125px;
    background: #8F3925;
}

.header img {
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

.principal {
    display: flex;
    justify-content: space-between;
}

.navegador {
    width: 17%;
    height: 86.4vh;
    background: #8F3925;
    position: relative;
    display: inline-block;
}

.navegador .opciones {
    display: grid;
    /* Alinea el contenedor al medio*/
    place-items: center;
    height: 50px;
    width: 75%;
    margin-top: 20px;
    background-color: white;
}

.navegador .opciones a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 7px 52px;
    width: 90%;
    height: 70%;
    border: black solid 1px;
}

.navegador .opciones a:hover {
    display: grid;
    place-items: center;
    width: 90%;
    height: 70%;
    color: #72463C;
    background-color: #BF9389;
    background: #ccc;
}

.navegador .logout .button {
    width: 150px;
    background-color: #B07566;
    border: white solid 1px;
    padding: 12px;
    font-size: 15px;
    text-align: center;
    color: white;
    margin: 0px 22%;
    position: absolute;
    bottom: 20px;
}

.navegador img{
    width: 30px;
}

body {
    height: 600px;
    background-image: url("imagenes/imgFondo.png");
}