@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    
}

/* ------------------------------- MAIN ------------------------------- */
.main {
    position: relative;
    width: 100%;
    background-image: url("imagenes/imgFondo.png");
    background-attachment: fixed, scroll;
}

.main__header {
    width: 100%;
    height: 120px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #964022;
    position: fixed;
    padding-right: 120px;
    z-index: calc(1); /*para que se sobreponga*/
}

.main__button{
    position: fixed;
    right: 20px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__icon{
    font-size: 20px;
}

.main__text{
    margin-left:10px;
}

.main__button:hover{
    cursor: pointer;        /*Para que salga la mano*/
}

.sidebar {
    background-color: #964022;
    height: 100vh;
    width: 100px;
    transition: 1s;
}

.sidebar:hover{
    transition: 1s;
    width: 250px;
}

.sidebar:hover .sidebar__icon, .sidebar:hover .sidebar__text{
    transition: 0.2s;
}

.sidebar__link-logo img{
    width: 200px;
    margin: 20px 24px;
    position: relative;
    z-index: calc(3); /*para que el logo se quede en el header*/
}

.sidebar__link {
    width: 250px;
    position: relative;
    padding: 10px;
    display: table;
    margin: 20px 0;
    transition: 0.2s;
}

.sidebar__icon{
    width: 80px;
    font-size: 16px;
    text-align: center;
    color: white;
    transition: 0.5s;
}

.sidebar__text{
    margin-left: 15px;
    font-size: 16px;
    color: white;
    transition: 0.5s;
}

.sidebar__link:hover {
    background-color: white;
    transition: 0.2s;
}

.sidebar__link:hover .sidebar__icon,
.sidebar__link:hover .sidebar__text{
    color: black;
    transition: 0.5s;
}

.sidebar__link--logout{
    position: absolute;
    bottom: 0px;
}

/*Para la tabla de Horarios:*/
.dataTables_filter {
    margin-bottom: 30px;  
}

/* Añadir margen superior e inferior a la paginación */
.dataTables_paginate {
    margin-top: 10px;  
    margin-bottom: 10px;  
}
