body{
    height: 100vh;
}

.main {
    width: 100%;
    overflow: auto;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.main .section1 {
    width: 95%;
    padding: 20px;
    margin-top: 35px;
}

.logoHorario {
    height: 45px;
    margin-right: 15px;
}

.main .section1 .title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main .section2 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/*Para la tabla de Horarios:*/

#TablaHorarios {
    width: 1500px;
    color: black;
    font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    padding: 5px 10px ;
    border: 1px solid black;
    background: #8F3925;
    color: #F4F5F3;
}

td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

tbody tr:hover {
    background: rgba(99, 98, 98, 0.4);
}

#columN {
    width: 10px;
}

#columCod {
    width: 120px;
}

#columSeccion {
    width: 50px;
}

#columAula {
    width: 50px;
}

#columCiclo {
    width: 50px;
}

#columDia {
    width: 100px;
}

#columHoraI {
    width: 100px;
}
#columHoraF {
    width: 100px;
}