body{
    height: 100vh;
}

.main {
    width: 100%;
    overflow: auto;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.main .section1 {
    width: 95%;
    padding: 20px;
    margin-top: 35px;
}

.logoHorario {
    height: 45px;
    margin-right: 15px;
}

.main .section1 .title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main .section1 form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 12px;
}

.main .section1 form span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

.main .section1 form .form-group {
    margin-top: 15px;
    margin-right: 20px;
}

.controls {
    background:#F4F5F3;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 20px;
}

#Docente {
    width: 400px;
}

#Curso {
    width: 350px;
}

#Aula {
    width: 100px;
}

#Seccion {
    width: 70px;
}

#Dia {
    width: 200px;
}

#HoraInicio {
    width: 120px;
}

#HoraFin {
    width: 120px;
}

.main .section1 form .boton {
    width: 100px;
    height: 50px;
    background-color: #8F3925;
    border: none;
    padding: 12px;
    font-size: 17px;
    color: white;
    margin-top: 60px;
}

hr {
    width: 100%;
    margin: auto; 
    border: 0.1px solid gray;
    display: block;
}

.main .section2 {
    padding: 20px;
    display: flex;
    justify-content: center;
}

/*Para la tabla de Horarios:*/

#TablaHorarios {
    width: 1500px;
    color: black;
    font-size: 15px;
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    padding: 5px 10px ;
    border: 1px solid black;
    background: #8F3925;
    color: #F4F5F3;
}

td {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

tbody tr:hover {
    background: rgba(99, 98, 98, 0.4);
}

#columN {
    width: 10px;
}

#columCod {
    width: 120px;
}

#columSeccion {
    width: 50px;
}

#columAula {
    width: 50px;
}

#columCiclo {
    width: 50px;
}

#columDia {
    width: 100px;
}

#columHoraI {
    width: 100px;
}
#columHoraF {
    width: 100px;
}

#columEdit {
    width: 50px;
}
#columDelete {
    width: 50px;
}