*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-image: url("../../imagenes/imgFondo.png");
}

.header {
    height: 125px;
    background: #8F3925;
}

.header img {
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

.principal {
    display: flex;
    justify-content: space-between;
}

.section1 {
    float: left;
    width: 750px;
    margin: 150px 0 0 300px;

}

.section1 h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

.section1 p {
    font-size: 35px;
    width: 600px;
    text-align: justify;
}

.section2 {
    float: left;
    margin-right: 300px;
    margin-top: 150px;
}

.form-login {
    width: 400px;
    background: #F4F5F3;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: calibri;
    color: black;
}

.form-login h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background:#F4F5F3;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 20px;
}

.form-login .textoAcuerdos {
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.form-login .crearCuenta {
    height: 30px;
    text-align: center;
    margin-top: 10px;
}

.form-login a {
    text-decoration: none;
}

.form-login .boton {
    width: 100%;
    background-color: #8F3925;
    border: none;
    padding: 12px;
    font-size: 17px;
    color: white;
}