.menu {
    width: 76.55%;
    
}

#buscador{
    width:100%;
    height: 35%;
}

.busqueda {
    margin-top: 45px;
    margin-left: 50px;
    width: 400px;
    height: 30px;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
}


#contenedor{
    width:100%;
    height: 65%;
}


.seccionuno {
    width: 100%;
    display: flex;
    justify-content:center;
}

#caja{
    width: 200px;
    height: 180px;  
    background-color: rgb(209, 206, 206);   
    margin-left: 40px; 
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px; 
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  70px;
    height: 70px;
}

#principal{
    font-size: 14px; 
    font-family: calibri;
    color: black;
    text-align: center;
}

#sub{
    font-size: 11px; 
    font-family: calibri;
    color: black;
    text-align: center;
}